doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/admin/style.css')
	body
		script(src="/js/sea.js")
		script(src="/js/sea.config.js")
	block content