body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.wrap{
	padding: 45px 15px 15px;
	background-color: #eee;
}

.list-group-item {
	display: block;
}
